<div class="questionnaire__wrapper">
    <div class="loading" *ngIf="loadingOverview || loadingQuestions">
        LOADING:
    </div>
    <ng-container *ngIf="!loadingOverview && !loadingQuestions">
        <pre *ngIf="error"> {{ error }} </pre>
        <app-questionnaire-nav [questionnaires]="questionnaires"></app-questionnaire-nav>
        <app-questionnaire-item [questionnaire]="questionnaire"></app-questionnaire-item>
    </ng-container>
</div>

<p>Item View in se making, just delete display none in question-item-view</p>
<app-question-item-view></app-question-item-view>