@import '~src/styles/variables';

.questionnaire {
  &__wrapper {
    display: flex;
    margin: 2rem 0 3rem 0;
    height: calc(100vh - 12rem);

    @include media-breakpoint-down(md) {
      display: block;
      height: calc(100vh - 13.7rem);
    }
  }
}