<div class="questionnaire__wrapper">
    <app-loading *ngIf="loadingOverview || loadingQuestions"> </app-loading>

    <ng-container *ngIf="!loadingOverview && !loadingQuestions">
        <pre *ngIf="error"> {{ error }} </pre>
        <app-questionnaire-nav [questionnaires]="questionnaires" [activeQuestionnaireItem]="activeQuestionnaireItem"
            (changeQuestionnaire)="setActiveQuestionnaire($event)"></app-questionnaire-nav>
        <app-questionnaire-item [questionnaire]="questionnaire" (loadQuestionnaire)="loadQuestionnaire()"></app-questionnaire-item>
    </ng-container>
</div>