<div class="questionnaire__wrapper">
    <app-loading *ngIf="loadingOverview || loadingQuestions"> </app-loading>
    <div *ngIf="error">{{error}}</div>
    <ng-container *ngIf="!loadingOverview && !loadingQuestions && !error">
        <app-questionnaire-nav [questionnaires]="questionnaires" [activeQuestionnaireItem]="activeQuestionnaireItem"
            (changeQuestionnaire)="setActiveQuestionnaire($event)"></app-questionnaire-nav>
        <app-questionnaire-item [questionnaire]="questionnaire" (loadQuestionnaire)="loadQuestionnaire()">
        </app-questionnaire-item>
    </ng-container>
</div>