@import '~src/styles/variables';

.questionnaire {
  &__body {
    display: flex;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  &__header {
    margin-left: 1.5rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.carousel-indicators {
  bottom: -3rem;
  display: none;

  li{
    height: 20px;
    width: 20px;
    background: $color-gradient;
    border: none;
    border-radius: 10px ;
  }

  @include media-breakpoint-down(md) {
    display: flex;
  }
}

/*
.carousel-item {
  display: block;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
*/