@import '~src/styles/variables';

.questionnaire {
  &__body {
    display: flex;
  }

  &__header {
    margin-left: 1.5rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}