<div *ngFor="let questionnaire of questionnaires;" class="questionnaire">
    <div *ngIf="questionnaire.isActive">
        <h1 class="questionnaire__header">{{ questionnaire.title }}</h1>
        <div class="questionnaire__body" style="display: flex">
            <app-question [questions]="questionnaire.timeLineQuestions" [type]="0" [questionnaireTitle]="questionnaire.title"></app-question>
            <app-question [questions]="questionnaire.buzzerQuestions" [type]="1" [questionnaireTitle]="questionnaire.title"></app-question>
        </div>
    </div>
</div>

