<div class="questionnaire">
    <h1 class="questionnaire__header">{{ questionnaire.title }}</h1>
    <div class="questionnaire__body" style="display: flex">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" *ngFor="let questions of questionnaire.questions; let i = index" [data-slide-to]="i">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let questions of questionnaire.questions; let i = index">
               <app-question [questions]="questions"[questionnaireTitle]="questionnaire.title" [questionnaireTitle]="questionnaire.title" [type]="i">
               </app-question>
              </div>
            </div>
        </div>
    </div>
</div>