@import '~src/styles/variables';

.login {
  &__wrapper {
    display: flex;
    margin: 2rem 0 3rem 0;
    height: calc(100vh - 12rem);
    position: relative;

    @include media-breakpoint-down(md) {
      display: block;
      height: calc(100vh - 13.7rem);
    }
  }

  &--error {
    color: $color-primary;
    opacity: 0.7;
    font-family: $font-family-default;
    font-size: 0.7rem;
    margin: 1px 0 0px 10px;
  }
}

.auth {
  border-radius: $border-radius;
  padding: 1rem 0.5rem;
  box-shadow: $box-shadow;
  width: 80vw;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &__body {
    padding: 0rem 2rem;

    @include media-breakpoint-down(md) {
      padding: 0em 1em;
    }
  }

  &__heading {
    margin: 20px auto;
    font-size: 1.5em;
    font-family: "Roboto Condensed", sans-serif;

    @include media-breakpoint-down(md) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 1em 1.5rem;
    background-color: $color-white;
    border-radius: calc(#{$border-radius} - 2px);
    width: calc(100% - 3rem);
    border: none;
    font-family: $font-family-default;
    font-size: 1rem;

    &__wrapper {
      padding: 3px;
      border-radius: $border-radius;
      background: $color-gradient;
      margin-top: 1rem;
      box-shadow: $box-shadow;
      flex: 1;
    }
  }

  &__footer {
    text-align: center;
    position: relative;
    margin-bottom: auto;

    span {
      font-family: $font-family-default;
      font-size: 0.8rem;

      a {
        color: $color-secondary;
        text-decoration: underline;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.submit {
  text-align: center;

  &__button {
    padding: 0.5rem 2rem;
    border-radius: $border-radius;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    cursor: pointer;
    border: none;
    margin-top: 1em;
    margin-bottom: 2em;
    color: $color-white;
    background: $color-gradient;
    transition-duration: 0.6s;
  }
  button:hover {
    background: $color-gradient;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2);
    color: $color-white;
  }
  button:disabled {
    cursor: auto;
    box-shadow: none;
  }
}

.is-invalid {
  background-color: $color-gradient;
  opacity: 0.9;
}
