<div class="login__wrapper">

  <div class="auth">
    <div class="auth__header">
      <h3 class="auth__heading">Login</h3>
    </div>

    <form [formGroup]="loginForm" class="form-group auth__body" (ngSubmit)="onSubmit()">
      <div *ngIf="submitted && loginForm.invalid" class="login--error">
        Login kann nicht abgeschlossen werden. Fehler im Formular.
      </div>

      <div class="auth__item__wrapper">
        <input type="email" id="email" name="email"
               class="form-control auth__item" formControlName="email" placeholder="E-Mail"
               [ngClass]="{ 'is-invalid': form.email.touched && form.email.errors }">
      </div>
      <div *ngIf="form.email.invalid && form.email.touched" class="login--error">
        Bitte gib eine valide Mail Adresse ein :)
      </div>

      <div class="auth__item__wrapper">
        <input type="password" id="password" name="password"
               class="auth__item" formControlName="password" placeholder="Passwort"
               [ngClass]="{ 'is-invalid': form.password.touched && form.password.errors }">
      </div>
      <div *ngIf="form.password.invalid && form.password.touched" class="login--error">
        Passwort ist falsch :/
      </div>

      <div class="submit">
        <button class="form-control submit__button" type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>

      <div class="auth__footer">
        <span class="login">Noch kein Mitglied? <a [routerLink]="['/register']">Registriere dich hier.</a></span>
      </div>
    </form>
  </div>

</div>


