<div class="login__wrapper">

  <div class="auth">
    <div class="auth__header">
      <h3 class="auth__heading">Login</h3>
    </div>

    <form [formGroup]="loginForm" class="auth__body" (ngSubmit)="onSubmit()">
      <div class="auth__item__wrapper">
        <input type="email" class="auth__item auth__item--email"
               formControlName="email" placeholder="E-mail*" email
               [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').errors">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'email' }"></ng-container>

      <div class="auth__item__wrapper">
        <input type="password" class="auth__item auth__item--password"
               formControlName="password" placeholder="Password*"
               [class.is-invalid]="loginForm.get('password').touched && loginForm.get('password').errors">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'password' }"></ng-container>

      <div *ngIf="submitted && loginForm.errors" class="login--error">
        Login cannot be completed. An error exists in the form.
      </div>

      <div class="submit">
        <button class="form-control submit__button" type="submit">Login</button>
      </div>

      <div class="auth__footer">
        <span class="login">Not a member yet? <a [routerLink]="['/register']">Register here.</a></span>
      </div>
    </form>

    <ng-template #required let-fieldName>
      <div *ngIf="loginForm.get(fieldName).errors?.required && loginForm.get(fieldName).touched" class="login--error">
        This field must be filled!
      </div>
    </ng-template>

  </div>

</div>


