<div class="questionnaire__nav">
    <ng-container *ngFor="let questionnaire of questionnaires">
        <ng-container *ngIf="questionnaire === activeQuestionnaireItem">
            <span class="questionnaire__item questionnaire__item--active">{{ questionnaire.title }}</span>
        </ng-container>
        <ng-container *ngIf="questionnaire !== activeQuestionnaireItem">
            <span class="questionnaire__item" (click)="onClick(questionnaire)" >{{ questionnaire.title }}</span>
        </ng-container>
    </ng-container>
</div>

<div class="questionnaire__nav--mobile">

    <span class="questionnaire__item questionnaire__item--active"
          [class.questionnaire__item--active--open]="selectOpen"
          (click)="onOpen()"
    >{{ activeQuestionnaireItem.title }}<fa-icon class="icon" [icon]="faAngle"></fa-icon></span>

    <ng-container *ngIf="selectOpen">
        <div class="questionnaire__item__wrapper">
            <ng-container *ngFor="let questionnaire of questionnaires">
                <ng-container *ngIf="questionnaire !== activeQuestionnaireItem">
                    <div class="questionnaire__item" (click)="onClick(questionnaire)" >{{ questionnaire.title }}</div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>