@import '~src/styles/variables';

.questionnaire {
  &__item {
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-align: center;

    &--active {
      background: $color-gradient;
      color: $color-white;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    min-width: 200px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--mobile {
      display: none;
      flex-direction: column;
      padding: 1rem;
      min-width: 200px;

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }
  }
}