<div class="question">
    <div class="question__header">
        <h3 class="question__heading">
            {{ questionType }}
        </h3>
        <span class="question__plus" (click)="addQuestion()"><fa-icon [icon]="faPlus"></fa-icon></span>
    </div>

    <div class="question__body" *ngFor="let question of questions;" >
        <div class="question__item__wrapper">
            <div class="question__item" (click)="updateQuestion(question)">
               {{ question.title }}
            </div>
        </div>
    </div>

    <div class="question__footer">
        <span (click)="addQuestion()">+ add Question</span>
    </div>
</div>

<div *ngIf="showQuestionView">
    <app-question-item-view (closeClicked)="onCloseClicked()" [questionnaire]="questionnaireTitle" [question]="question"></app-question-item-view>
</div>