<div class="question">
    <div class="question__header">
        <h3 class="question__heading">Dumb Question</h3>
        <span class="question__plus"><fa-icon [icon]="faPlus"></fa-icon></span>
    </div>

    <div class="question__body">
        <app-question-item></app-question-item>
        <app-question-item></app-question-item>
        <app-question-item></app-question-item>
        <app-question-item></app-question-item>

    </div>
    <div class="question__footer">
        <span>+ add Question</span>
    </div>

</div>
