@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

$font-family-default: 'Roboto', sans-serif;
$font-family-special: 'Lobster', cursive;

$font-weight-default: 400;
$font-weight-bold: 700;