<div class="register__wrapper">
  <div class="auth">
    <div class="auth__header">
      <h3 class="auth__heading">Registrieren</h3>
    </div>

    <form [formGroup]="registerForm" class="form-group auth__body" (ngSubmit)="onSubmit()">
      <div *ngIf="submitted && registerForm.invalid" class="register--error">
        Registrierung kann nicht abgeschlossen werden. Fehler im Formular.
      </div>

      <div class="auth__item__wrapper">
        <input type="username" id="username" name="username"
               class="form-control auth__item" formControlName="username" placeholder="Benutzername"
               [ngClass]="{ 'is-invalid': form.username.touched && form.username.errors }" >
      </div>
      <div *ngIf="form.username.invalid && form.username.touched" class="register--error" >
        Bitte gib einen Benutzernamen an :)
      </div>

      <div class="auth__item__wrapper">
        <input type="email" id="email" name="email"
               class="form-control auth__item" formControlName="email" placeholder="E-Mail"
               [ngClass]="{ 'is-invalid': form.email.touched && form.email.errors }">
      </div>
      <div *ngIf="form.email.invalid && form.email.touched" class="register--error">
        Bitte gib eine valide Mail Adresse ein :)
      </div>

      <div class="auth__item__wrapper">
        <input type="password" id="password" name="password"
               class="auth__item" formControlName="password" placeholder="Passwort"
               [ngClass]="{ 'is-invalid': form.password.touched && form.password.errors }">
      </div>
      <div *ngIf="form.password.invalid && form.password.touched" class="register--error">
        Bitte gib ein valides Passwort ein :)
      </div>
      <div class="auth__item__wrapper">
        <input type="password" id="passwordmatch" name="passwordmatch"
               class="auth__item" formControlName="passwordmatch" placeholder="Passwort wiederholen"
               [ngClass]="{ 'is-invalid': form.passwordmatch.invalid && form.passwordmatch.touched }">
      </div>
      <div *ngIf="form.passwordmatch.invalid && form.passwordmatch.touched" class="register--error">
        Passwörter stimmen nicht überein.
      </div>

      <div class="submit">
        <button class="form-control submit__button" type="submit" [disabled]="registerForm.invalid">Registrieren</button>
      </div>

      <div class="auth__footer">
        <span class="login">Schon Mitglied? <a [routerLink]="['/login']">Zum Login.</a></span>
      </div>
    </form>
  </div>
</div>
