<div class="register__wrapper">
  <div class="auth">
    <div class="auth__header">
      <h3 class="auth__heading">Registrieren</h3>
    </div>

    <form [formGroup]="registerForm" #formData='ngForm' class="auth__body" (ngSubmit)="onSubmit(formData)">
      <div class="auth__item__wrapper">
        <input type="username" class="auth__item"
               formControlName="username" placeholder="Benutzername"
               [class.is-invalid]="registerForm.get('username').touched && registerForm.get('username').errors">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'username' }"></ng-container>

      <div class="auth__item__wrapper">
        <input type="email" class="auth__item"
               formControlName="email" placeholder="E-Mail" email
               [class.is-invalid]="registerForm.get('email').touched && registerForm.get('email').errors">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'email' }"></ng-container>

      <div class="auth__item__wrapper">
        <input type="password" class="auth__item"
               formControlName="password" placeholder="Passwort"
               [class.is-invalid]="registerForm.get('password').touched && registerForm.get('password').errors">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'password' }"></ng-container>

      <div class="auth__item__wrapper">
        <input type="password" class="auth__item"
               formControlName="passwordRepeat" placeholder="Passwort wiederholen"
               [class.is-invalid]="registerForm.get('passwordRepeat').invalid && registerForm.get('passwordRepeat').touched">
      </div>
      <ng-container *ngTemplateOutlet="required; context: { $implicit: 'passwordRepeat' }"></ng-container>
      <div *ngIf="registerForm.errors?.passwordRepeat" class="register--error">
        Passwörter stimmen nicht überein!
      </div>

      <div *ngIf="submitted && registerForm.invalid" class="register--error">
        Registrierung kann nicht abgeschlossen werden. Fehler im Formular.
      </div>

      <div class="submit">
        <button class="form-control submit__button" type="submit">Registrieren</button>
      </div>

      <div class="auth__footer">
        <span class="login">Schon Mitglied? <a [routerLink]="['/login']">Zum Login.</a></span>
      </div>
    </form>

    <ng-template #required let-fieldName>
      <div *ngIf="registerForm.get(fieldName).errors?.required && registerForm.get(fieldName).touched" class="register--error">
        Dieses Feld darf nicht leer sein.
      </div>
    </ng-template>

  </div>
</div>
