<div class="auth">
  <div class="auth__header">
    <h3 class="auth__heading">Registrieren</h3>
  </div>

  <div class="auth__body">
      <form>
        <div class="auth__item__wrapper">
          <input type="text" class="auth__item" placeholder="Benutzername" required autofocus>
        </div>
        <div class="auth__item__wrapper">
          <input type="text" class="auth__item" placeholder="E-Mail" required autofocus>
        </div>
        <div class="auth__item__wrapper">
          <input type="text" class="auth__item" placeholder="Passwort" required autofocus>
          </div>
        <div class="auth__item__wrapper">
          <input type="password" class="auth__item" placeholder="Passwort wiederholen" required>
        </div>
        <div>
          <button class="register__button register__button--active" type="submit">Registrieren</button>
        </div>
      </form>

    </div>
</div>
