@import '~src/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  box-shadow: $box-shadow;
  &__title {
    color: $color-primary;
    font-family: $font-family-special;
    font-size: 1.3rem;
  }
  &__icon {
    color: $color-primary;
    font-size: 1.3rem;
  }
}