<div class="question__item__view__wrapper" style="display: none">
    <div class="question__item__view">
        <div class="question__item__header">
        <span class="question__item__breadcrumb">
            Questionnaire 1 <fa-icon [icon]="faAngleRight"></fa-icon> Dumb Questions
        </span>
            <span class="question__cross"><fa-icon [icon]="faTimes"></fa-icon></span>

        </div>

        <div class="question__item__body">
            <h2 class="question__item__title">
                Do zebras have white or black stripes <fa-icon [icon]="faEdit"></fa-icon>
            </h2>
        </div>

        <div class="question__item__footer">

        </div>
    </div>
</div>