<div class="question__item__view__wrapper">
    <div class="question__item__view">
        <div class="question__item__header">
        <span class="question__item__breadcrumb">
            {{ questionnaire }} <fa-icon [icon]="faAngleRight"></fa-icon> {{ questionType }}
        </span>
            <span class="question__cross" (click)="closeClicked.emit($event)"><fa-icon [icon]="faTimes"></fa-icon></span>
        </div>

        <div class="question__item__body">
            <input [value]="tempQuestion.title" class="question__item__title" (input)="onInputTitle($event)">
            <div class="question__item__body__inner">
                <div class="answer__wrapper" *ngFor="let answer of tempQuestion.answers; trackBy: trackByFn; let i = index">
                    <div class="answer__item__wrapper">
                        <input [value]="answer.title" class="answer__item" (input)="onInputAnswer(i, $event)">
                    </div>
                    <ng-container *ngIf="tempQuestion.type === 1 && !answer.isTrue">
                        <span class="question__true" (click)="onCheckboxClick(i)"></span>
                    </ng-container>
                    <ng-container *ngIf="tempQuestion.type === 1 && answer.isTrue">
                        <span class="question__true question__true--colored" (click)="onCheckboxClick(i)"><fa-icon [icon]="faCheck"></fa-icon></span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="question__item__footer">
            <span class="question__item__save" (click)="save()">Save Question</span>
            <span class="question__item__delete" (click)="remove()"><fa-icon [icon]="faTrash"></fa-icon></span>
        </div>
    </div>
</div>