@import '~src/styles/variables';

.question {
  &__item {
    &__footer {
      text-align: center;
    }

    &__header {
      margin-bottom: 1rem;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 2rem;
      border: none;
      font-size: 1.5rem;
      font-family: $font-family-default;
      font-weight: $font-weight-bold;
    }
    &__breadcrumb {
      margin-top: 0.5rem;
      font-style: italic;

      * {
        color: $color-primary;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__view {
      width: 80vw;
      border-radius: $border-radius;
      background-color: $color-white;
      box-shadow: $box-shadow;
      padding: 1.5rem;
      z-index: 1;
      position: relative;

      &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        height: 100vh;

        display: flex;

        justify-content: center;

        align-items: center;

        &:before {
          position: absolute;
          width: 100vw;
          left: 0;
          height: 100vh;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3);
          content: '';
          z-index: 0;
        }
      }
    }

    &__save {
      display: inline-block;
      padding: 0.5rem 2rem;
      border-radius: $border-radius;
      flex: 0 0 20%;
      text-align: center;
      cursor: pointer;
      background: $color-gradient;
      color: $color-white;
      border: none;
      margin-top: 3rem;
    }
  }

  &__cross {
    color: $color-primary;
    font-size: 2rem;
    cursor: pointer;
  }
}

.answer {
  &__item {
    padding: 1.5rem;
    background-color: $color-white;
    border-radius: calc(#{$border-radius} - 2px);
    width: calc(100% - 3rem);
    border: none;
    font-family: $font-family-default;
    font-size: 1rem;

    &__wrapper {
      padding: 3px;
      border-radius: $border-radius;
      background: $color-gradient;
      margin-bottom: 0.5rem;
      box-shadow: $box-shadow;
      flex: 0 0 70%;

      @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
      }
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__upload {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    background: $color-white;
    flex: 0 0 20%;
    text-align: center;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      border: 2px solid $color-primary;
      position: absolute;
      bottom: -1rem;
      right: 1rem;
    }

    &--colored {
      background: $color-gradient;
      font-style: italic;
      color: $color-white;
      border: none;
    }

    * {
      font-size: 0.8rem;
    }
  }
}