<div class="question__item__view__wrapper">
    <div class="question__item__view">
        <div class="question__item__header">
        <span class="question__item__breadcrumb">
            {{ questionnaire }} <fa-icon [icon]="faAngleRight"></fa-icon> {{ question.type}}
        </span>
            <span class="question__cross" (click)="closeClicked.emit($event)"><fa-icon [icon]="faTimes"></fa-icon></span>
        </div>

        <div class="question__item__body">
            <input [value]="question.title" class="question__item__title">
            <div class="question__item__body__inner">
                <div class="answer__wrapper" *ngFor="let answer of question.answers; trackBy: trackByFn; let i = index">
                    <div class="answer__item__wrapper">
                        <input [value]="answer.title" class="answer__item">
                    </div>
                    <ng-container *ngIf="answer.image">
                        <div class="answer__upload">
                            <fa-icon [icon]="faTimes"></fa-icon> super_image.png
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!answer.image">
                        <div class="answer__upload answer__upload--colored">
                            <fa-icon [icon]="faPlus"></fa-icon> add image
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="question__item__footer">
            <span>+ add Answer</span>
        </div>
    </div>
</div>